html {
}
    
*{
  box-sizing: border-box;    
    }    

    
body {
    background-color: mediumseagreen;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.0;
}
.card-img-top {
    
    
}
.card-text {
    margin-bottom: 15px;
    text-align: center;
    color:darkgreen;
}
.nav-link {
    color: darkgreen;
}
.contant {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 400px;
    height: 500px;
    overflow: scroll;
}
h3 {
    color: aliceblue;  
}
p {
    color: aliceblue;
    line-height: 40px;
    margin-top: 60px;
    padding: 10px 20px;
    
}


 