html {
}
    
*{
  box-sizing: border-box;    
    }    

    
body {
    background-color: mediumseagreen;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.0;
}
.card {
    margin-bottom: 30px;
    border: 0px;
    
}
.card-img-top {
      width:  540px;
      height: 300px;
      
}
.card-text {
    margin-bottom: 30px;
    text-align: center;
    color:darkorange;
    font-family:cursive;

}
.nav-link {
    color: darkgreen;
}
.contant {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 400px;
    height: 500px;
    overflow: scroll;
}
h3 {
    color: aliceblue;  
}
p {
    color: aliceblue;
    line-height: 40px;
    margin-top: 60px;
    padding: 10px 20px;
    font-family:serif;
    
}
h1 {
    font-family: "Glegoo"; 
    color: orange;
    
}
.grid {
    display: grid;
    width: 1500x;
    height: 1200x;
    grid-template-columns: 500x 900px;
    grid-template-rows: 400px 400px 400px;
    grid-gap: 20px 10px;
    margin: 20px;
}
.box {
    border-radius: 5px;
}

.w {
    width: 465px;
    height: 265px;
}
.display-4 {
    color: orange;
    font-family: cursive;
}
.text-center {
    font-family: cursive;
}
a.nav-link {
    color: white !important;
}

    

    


 